*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};

:root{

    --dk-violet: hsl(268,75%,9%);
    --li-violet: hsl(268, 47%,21%);
    --lt-violet2: hsl(261, 89%,26%);
    --vb-violet: hsl(285,91%,52%);
    --vb-violet2: hsl(290,70%,36%);

    --vb-yellow: hsl(52,100%,62%);
    --pl-white: hsl(0,0%,100%);
    --vb-cyan: hsl(177,92%,70%);
    --dk-text: hsl(198,20%,13%);

}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* you can took any bg color from angry tools */
    background: linear-gradient(90deg, rgba(45, 170, 133, 0.98) 20%, rgba(76, 175, 80, 1) 77%);
}

}

.container{
    width: 90%;
    max-width: 450px;
}

h1 {
    color:rgb(0, 0, 0);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.displaycontainer{
    position: relative;
    background-color: rgb(16, 227, 83);
    /* background: linear-gradient(90deg, rgba(76, 175, 80, 0) 0%, rgba(11, 244, 3, 0.52) 0%, rgba(11, 244, 3, 0.52) 12%);  */
    border-radius: 1rem;
    border-bottom: 0.35rem solid green;
    margin: 1rem 0;
    padding-top: 0.35rem; 
}

.Display{
    width: 90%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: lightgray;
    font-weight: 600;
    font-size: 1.5rem ;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 1.5rem;
    border: none;
}

.Display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color:#fffb08;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%); 
}

.displaycontainer button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.InputContainer{
    width: 51.3vh;
    background-color:darkcyan;
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid blue;

}

.PassLength{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
}  

.PassLength p:nth-child(1){
    color:black;
    font-size: 1.5rem;
}

.PassLength p:nth-child(2){
    color: aqua;
    font-size: 1.5rem;
}

.strengthcontainer{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}   

.PStrength{
    color:yellow ;
    font-size: 1.5rem;
}

.StrengthIndicator{
    /* font-size: 1.5rem; */
    width:1.5rem;
    height:1.5rem ;
    border-radius: 50%;
    margin-left:250px;
    /* background-color: rgb(255, 0, 0); box-shadow: rgb(255, 0, 0) 0px 0px 12px 1px; */
}

.PasswordGenerator{
    width:100%;
    padding: 1rem 0;
    background-color:brown;
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid burlywood ;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.25rem;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem ;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 225, 0);
    cursor: pointer; 
    position: relative;   
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: rgb(210, 171, 30);
}

.check input:checked::before{
    content:'✔';
    position: absolute;
    color: darkmagenta;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%) translateY(4%);
}

.check label{
    color:color-mix(in srgb,red 20%, black 80%);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: none;
    outline: none;
    height: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    background:gray;
    background-image: linear-gradient(90deg, rgba(128, 32, 0, 1) 100%, rgba(238, 130, 238, 1) 100%);
    background-repeat:no-repeat ;
}

.slider::-webkit-slider-thumb{
    position: relative;
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ffd700;
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;

}

.slider:focus{
    outline: none;
    outline: 3px solid #ffd700;
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid #ffd700;
    background-color:brown;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);

}

.slider::-moz-range-thumb {
    position: relative;
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background:brown;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    outline: 2px solid brown ;
    background-color:brown;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

.Copied-Message{
    position: absolute;
    background-color: rgb(229, 120, 17);
    color: yellow;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.Copied-Message.active{
    opacity: 1;
    transform: scale(1);
}
